footer
  .container.text-center
    p.pull-left © !{(new Date()).getFullYear()} Jordan Patton. All Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='/contact')
          span.ion-email
          | Contact Us
