extends layout

block content
  .page-header
    h1 Get the whole story.
  .row
    .col-sm-12
      p <strong>Epik</strong> performs qualitative research and gathers rich data from users.
      p <strong>Interested?</strong> Epik isn't publicly available, but you're welcome to <a href="/contact">contact us</a> with ideas.
