doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title}
    != css('main')
  body(style="padding-top:0;")
    
    .container
      include app.html
    
    != js('lib/jquery-2.1.3.min')
    != js('lib/bootstrap.min')
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.6.1/ember.js")
    script(src="/js/lib/ember-data-1.0.0-beta.9+canary.8c50bea2d1.js")
    != js('workflow/publicReport')
