doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title || "Report"}
    != css('main')
  body(style="padding-top:0;")
    .container
      include index.html
    
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/handlebars/handlebars.min.js")
    script(src="/components/ember/ember.js")
    script(src="/components/ember-data/ember-data.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    != js('workflow/publicReport')
