doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title || "Thank You"}
    != css('main')
  body(style="padding-top:0;")
    .container
      .row
        .col-sm-12
          p &nbsp;
          h3 Thank you!
      .row
        .col-sm-12
          p &nbsp;
          a(class="btn btn-primary pull-left" target="_self" href="#" onclick="javascript:window.close();return false;")
            span(class="ion-log-out")
            | Exit Survey
    
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
